body {
  background-color: red;
  font-size: 14px;
  font-family: sans-serif;
}

.content {
  background-color: white;
  height: 250px;
  width: 100%;
  position: relative;
}

.samples li {
  display: inline-block;
  padding:8px;
  list-style: none;
  vertical-align: middle;
  width: 125px;
}

.highlight {
  background: yellow;
}

.title {
  color: white;
}

.loading-view {
  background-image: url('Testcard_F.jpg');
  color: yellow;
  position:absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.play {
  padding: 8px 24px;
  border-style: none;
  margin-left: 64px;
}

.play:active {
  background-color: red;
  color: white;
}
