body {
  background-color: rgb(255, 153, 57);
  color: rgba(255, 153, 57);
  font-size: 14px;
  font-family: 'Press Start 2P', cursive;
  margin: 0;
}

.content {
  background-color: white;
  height: 500px;
  max-width: 1280px;
  /* margin-left: 32px;
  margin-right: 32px; */
  margin: auto;
  margin-top: 0;
  position: relative;
}

.drum-view {
  text-align: center;
  height: 100%;
}

.samples li {
  display: inline-block;
  padding: 8px;
  list-style: none;
  vertical-align: middle;
  width: 125px;
}

.highlight {
  background: yellow;
}

.title {
  color: white;
}

@keyframes loading {
  from {
    width: 0%;
    font-size: 4px;
    color: rgba(255, 153, 57, 0);
  }
  to {
    width: 100%;
    font-size: 72px;
    color: rgba(255, 153, 57);
  }
}

.loading-view {
  animation: 2s loading 0s infinite alternate;
  background-color: rgb(255, 153, 57);
  color: rgb(255, 153, 57);

  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  text-align: center;
  height: 22px;
}

.play {
  padding: 8px 24px;
  border-style: none;
  background-color: rgb(0, 110, 255);
  color: white;
  font-family: 'Press Start 2P', cursive;
}

.play:active {
  background-color: red;
  color: white;
}

.sample {
  position: fixed;
  font-size: 72px;
  left: -50%;
  right: -50%;
  top: 100px;
  height: 32px;
}
